# Q1. Create one variable containing following type of data:

In [ ]:
a="Hello all"
b=list[1,2,3,4,'i','am','lucky']
c=float(24.04)
d=

# Q2. Given are some following variables containing data:

(i) var1 = ‘ ‘
(ii) var2 = ‘[ DS , ML , Python]’
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
(iv) var4 = 1.

What will be the data type of the above given variable.

In [4]:
var1 = ""
type(var1)

str

In [5]:
var2 = '[ DS , ML , Python]'
type(var2)

str

In [1]:
var3=[ 'DS' , 'ML' , 'Python' ]
type(var3)

list

In [2]:
var4=1
type(var4)

int

# Q3. Explain the use of the following operators using an example:

(i) /
(ii) %
(iii) //
(iv) **

# / Division (float): divides the first operand by the second

In [7]:
4/2

2.0

# % Modulus: returns the remainder when the first operand is divided by the second

In [8]:
4%2

0

# // Division (floor): divides the first operand by the second

In [9]:
4//2

2

#   **	Power: Returns first raised to power second

In [10]:
4**2

16

# Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the element and its data type.

In [13]:
l=[1,2,3,4,5,6,'hi',20.0,45+9j,'hello']
for i in l:
    print(i,type(l))

1 <class 'list'>
2 <class 'list'>
3 <class 'list'>
4 <class 'list'>
5 <class 'list'>
6 <class 'list'>
hi <class 'list'>
20.0 <class 'list'>
(45+9j) <class 'list'>
hello <class 'list'>

# Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many times it can be divisible.

In [ ]:
n = 1
m = 41

div = [5,7]

while(n<=m): 
    if n == 13:
        n+=1
    if n%div[0]==0 and n%div[1]==0:
        print(n, 'the number is divisible for both 5 and 7')    
    elif n%div[0]==0:
        print(n, 'the number is divisible for 5')    
    elif n%div[1]==0:
        print(n, 'the number is divisible for 7')
    else:
        print(n, 'is divisible for neither 5 or 7')
        n+=1

1 is divisible for neither 5 or 7
2 is divisible for neither 5 or 7
3 is divisible for neither 5 or 7
4 is divisible for neither 5 or 7
5 the number is divisible for 5
6 is divisible for neither 5 or 7
7 the number is divisible for 7
8 is divisible for neither 5 or 7
9 is divisible for neither 5 or 7
10 the number is divisible for 5
11 is divisible for neither 5 or 7
12 is divisible for neither 5 or 7
14 the number is divisible for 7
15 the number is divisible for 5
16 is divisible for neither 5 or 7
17 is divisible for neither 5 or 7
18 is divisible for neither 5 or 7
19 is divisible for neither 5 or 7
20 the number is divisible for 5
21 the number is divisible for 7
22 is divisible for neither 5 or 7
23 is divisible for neither 5 or 7
24 is divisible for neither 5 or 7
25 the number is divisible for 5
26 is divisible for neither 5 or 7
27 is divisible for neither 5 or 7
28 the number is divisible for 7
29 is divisible for neither 5 or 7
30 the number is divisible for 5
31 is divisible for neither 5 or 7
32 is divisible for neither 5 or 7
33 is divisible for neither 5 or 7
34 is divisible for neither 5 or 7
35 the number is divisible for both 5 and 7
36 is divisible for neither 5 or 7
37 is divisible for neither 5 or 7
38 is divisible for neither 5 or 7
39 is divisible for neither 5 or 7
40 the number is divisible for 5
41 is divisible for neither 5 or 7

# Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is divisible by 3 or not.

In [ ]:
lower = int(input("Enter lower range limit:"))
upper = int(input("Enter upper range limit:"))
for i in range(lower, upper+1):
   if((i%3==0) & (i%5==0)):
      print(i)

Enter lower range limit: 0
Enter upper range limit: 26
0
15

# Q7. What do you understand about mutable and immutable data types? Give examples for both showing this property.

In [ ]:
In mutable datatypes the elements can be changed. an example of this is a list

In [ ]:
l1=[1,2,3,4]

[1, 2, 3, 4]

In [ ]:
l1[1]=5

In [ ]:
l1

[1, 5, 3, 4]

In [ ]:
In immutable datatypes the elements can not be changed an example of this is a tuple

In [ ]:
t=(1,3,5)

In [ ]:
t

(1, 3, 5)

In [ ]:
t[1]=4

---------------------------------------------------------------------------
TypeError                                 Traceback (most recent call last)
Cell In[15], line 1
----> 1 t[1]=4

TypeError: 'tuple' object does not support item assignment