Q1. What is a database? Differentiate between SQL and NoSQL databases.

A database is used to store data in a tabular format. SQL is one of the widely used databases all over the world.SQL uses queries to fetch data.
It is widely used with Python as a backend database.

NOSQL database is also a type of database where queries are not required to fetch data.

An example of a NOSQL database is MongoDB.

SQL: Requires a predefined schema (structure) for each table, defining data types and relationships. This ensures data consistency but can be inflexible.

NoSQL: Often has dynamic schemas, allowing data to be added with different structures. This flexibility can be advantageous for handling evolving data, but can also make it less reliable for complex queries.

SQL: Typically scales vertically, requiring upgrading hardware to handle increased data volume. This can be expensive and complex.

NoSQL: Often scales horizontally by adding more servers, making it more efficient and cost-effective for handling large data volumes.

Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

DDL stands for Data Definition Language.

CREATE: used to create database objects like tables,views in SQL.
e.g: CREATE TABLE Student;

DROP: used to drop the current database object along with the data.
e.g: DROP TABLE Student;

ALTER: used to alter the current object along with the data.
e.g: ALTER TABLE Student;

TRUNCATE: used to delete all the data in a table.
e.g: TRUNCATE TABLE Student;

Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

DML stands for Data Manipulation Language. we can manipulate the given data using 3 major commands:
INSERT,UPDATE AND DELETE.

INSERT: used to insert rows in the table.
e.g: INSERT into Student ('col1','col2') VALUES('val1,'val2')

UPDATE: used to update the rows in a table.
e.g: UPDATE Student set col1=val1,col2=val2 WHERE condition;

DELETE: used to delete rows in a table.
e.g: DELETE FROM Student WHERE condition;

Q4. What is DQL? Explain SELECT with an example.

DQL (Data Query Language) is a subset of SQL that focuses specifically on retrieving and working with data within a database.

It's used to query and extract information from existing tables.

SELECT is the primary DQL command, and it's used to:

Retrieve specific data from one or more tables.

Filter and sort the results based on various conditions.

Q5. Explain Primary Key and Foreign Key.

Primary key is a unique value in SQL which is not null and does not allow for data duplication.

Foriegn key can be used with primary key to link tables in SQL.

Establishes Relationships: It creates connections between related data in different tables, enabling JOIN operations to retrieve related information.

Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

In [ ]:
import mysql.connector
newdb=mysql.connector.connect(
    host='your_hostname',
    user='your_usernmame',
    password='your_password',
    database='your_databasename'
)

mycursor = mydb.cursor() # acts as a pointer to the database

mycursor.execute("SELECT * FROM your_table_name")
#sends SQL statement to db server for execution

mydb.close()

Q7.Give the order of execution of SQL clauses in an SQL query.

The order of execution of SQL queries is:

1.FROM

2.WHERE

3.GROUP BY

4.HAVING

Execution order can be slightly different in various database systems.