Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [5]:
import pandas as pd
ser=[4,8,15,16,23,42]
print(pd.Series(ser))

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

Q2.Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the variable print it.

In [4]:
import pandas as pd
lst=[1,2,3,'abc','def','ghi','jkl',-3,-4,1.5]
print(pd.Series(lst))

0      1
1      2
2      3
3    abc
4    def
5    ghi
6    jkl
7     -3
8     -4
9    1.5
dtype: object

Q3.Create a Pandas DataFrame that contains the following data and print the Data Frame

In [8]:
import pandas as pd
data=[['Alice',25,'Female'],
      ['Bob',30,'Male'],
      ['Claire',27,'Female']]
df=pd.DataFrame(data,columns=['Name','Age','Gender'])
print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

Q4.What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

DataFrame:

Structure: A two-dimensional, size-mutable, tabular data structure with labeled rows and columns. It's like a spreadsheet or SQL table.

Data types: Can accommodate columns with different data types (e.g., numbers, strings, dates).

Creation: Can be created from various sources like lists, dictionaries, NumPy arrays, CSV files, Excel files, etc.

pandas.Series:

Structure: A one-dimensional, size-immutable array capable of holding any data type. It's like a single column of a DataFrame.

Data types: All elements within a Series must have the same data type.

Creation: Can be created from lists, arrays, dictionaries, or scalar values.

Q5.What are some common functions you can use to manipulate data in a Pandas DataFrame? Can you give an example of when you might use one of these functions?

Here are some common functions used to manipulate data in a Pandas DataFrame, along with examples:

1.Selecting and Viewing Data:

head(): View the first few rows (e.g., df.head(5)).

tail(): View the last few rows (e.g., df.tail(3)).

shape: Get the dimensions of the DataFrame (rows, columns).

2.Sorting and Reshaping:

sort_values(): Sort by one or more columns (e.g., df.sort_values('Age', ascending=False)).

set_index(): Set a column as the DataFrame's index (e.g., df.set_index('Name')).

pivot_table(): Create a pivot table to summarize data (e.g., df.pivot_table(index='City', values='Age', aggfunc='mean')).

3.Handling Missing Data:

isnull(): Detect missing values (e.g., df.isnull().sum()).

fillna(): Fill missing values with a specified value (e.g., df.fillna(0)).

Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

The following data structures in pandas are mutable in nature:

DataFrame: Both its values and size can be changed after creation. You can add or remove rows and columns, modify existing values, and even change the data types of columns.

Panel: It's also mutable in terms of both values and size. However, it's less commonly used than DataFrames.

Series, on the other hand, is only value-mutable, not size-mutable:

You can modify the values within a Series, but you cannot change its length after it's created. This is because Series are built on top of NumPy arrays, which have fixed dimensions.

Q7.Create a DataFrame using multiple Series. Explain with an example.

In [14]:
import pandas as pd
names=pd.Series(['Jim','Michaela','Andrea','Chris'])
age = pd.Series([25,28,30,23])
cities=pd.Series(['NY','Texas','Atlanta','LA'])
df = pd.concat([names, age, cities], axis=1)
df.columns=['names','age','cities']
print(df)

      names  age   cities
0       Jim   25       NY
1  Michaela   28    Texas
2    Andrea   30  Atlanta
3     Chris   23       LA